body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

.border-top {
    border-top: 1px solid red;
}

.border-right {
    border-right: 1px solid red;
}

.black-background {
    background-color: black;
}