body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #FAF3E0; /* Light Beige */
}

#container {
    display: flex;
    flex-direction: column;
    height: 99%;
    aspect-ratio: 1 / 1;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    background-color: #FFFAF0; /* Floral White */ 
    border-left: 1px solid #B0C4DE; /* Light Steel Blue */
    border-bottom: 1px solid #B0C4DE; /* Light Steel Blue */
}

.border-top {
    border-top: 1px solid #B0C4DE; /* Light Steel Blue */
}

.border-right {
    border-right: 1px solid #B0C4DE; /* Light Steel Blue */
}

.black-background {
    background-color: #FF4500; /* Orange-Red */
}